h2
{
    text-align: center;
    font-size: 200%;
}
h6
{
    visibility: hidden;
}
button
{
    position: relative;
    width: 200px;
    border: 1px solid;
    font-size: 120%;
}
div
{
    float: left;
    color: #FFFFFF;
    margin-left: 5px;
    background-color: #262829;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}
ul
{
    list-style-type: none;
    margin-right: 40px;
    border-collapse: collapse;
}
li
{
    display: inline-block;
    border: 2px solid #D3D3D3;
    width : 80px;
    padding: 10px;
    background-color: #101010;
    border-radius: 10px;
    box-sizing: border-box;
}
#printDate li:hover
{
    border: 1px solid #000000;
    background-color: #FFFFFF;
    color: #151515;
}
.printWeek_Saturday
{
    color: #1E90FF;
}
.printWeek_Sunday
{
    color: #DB7093;
}
.li_Weekday
{
    font-size: 125%;
    pointer-events: none;
}
.li_Saturday
{
    background-color: #1E90FF;
}
.li_Sunday
{
    background-color: #DB7093;
}
.li_Selected
{
    border: 1px solid #000000;
    background-color: #FFFFFF;
    color: #151515;
}
.button_NextPrevMonth
{
    background-color: #5a5a5a;
    color: #D3D3D3;
}
.button_NextPrevMonth:hover
{
    background-color: #FFFFFF;
    color: #262829;
}
.button_NowMonth
{
    background-color: #262829;
    color: #FFFFFF;
}
.button_NowMonth:hover
{
    background-color: #FFFFFF;
    color: #262829;
}
.button_SaveMemo
{
    margin-top: 5px;
    font-size: 100%;
    width: 40%;
    background-color: #7FFF00;
}
.button_SaveMemo:hover
{
    background-color: #006400;
    color: #FFFFFF;
}
.button_GetMemo
{
    margin-top: 5px;
    font-size: 100%;
    width: 50%;
    background-color: #7FFF00;
}
.button_GetMemo:hover
{
    background-color: #006400;
    color: #FFFFFF;
}
.button_changeWindow
{
    background-color: #7FFF00;
}
.button_changeWindow:hover
{
    background-color: #006400;
    color: #FFFFFF;
}
.div_Calendar
{
    width: 660px;
    height: 570px;
    display: inline-block;
}
.div_subWindow
{
    margin-top: 70px;
    width: 270px;
}
.div_ToDo
{
    background-color: #5a5a5a;
    width: 250px;
    height: 150px;
    margin: 20px 10px 10px 10px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.div_GetMemo
{
    background-color: #5a5a5a;
    width: 250px;
    height: 200px;
    margin: 20px 10px 10px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.div_ShowSelectedDate
{
    margin-left: 35px;
    text-align: center;
}
.clear
{
    clear: both;
}